html,body{
    background: #e0e0e0;
}
#container{
    margin: 0 auto;
    min-height: 100%;
    width: 1200px;
    text-align: center;
    background: #ffffff;
}
.header-top{
    text-align: center;
}
.header-img{
    min-width: 1200px;
    height: 220px;
}
.header-nav{
    background: #004172;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.header-nav-item{
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
    position: relative;
}
.header-nav-item:hover{
    background: #9f731d;
    cursor: pointer;
}
.header-nav-item:hover .dropdown{
    display: block;
}
.dropdown{
    white-space:nowrap;
    position: absolute;
    top: 50px;
    text-align: left;
    font-size: 16px;
    line-height: 2em;
    display: none;    
    background-color: #e0e0e0;
    color: #000000;
}
.dropdown div:hover{
    color: #004172;
}