<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>江西省超低能耗建筑重点实验室</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/tbody.css">
    <link rel="stylesheet" href="../style/firstpb.css">
    <link rel="stylesheet" href="../style/newsformat.css">
    <link rel="stylesheet" href="../style/bottom.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/babel-standalone/6.26.0/babel.min.js"></script>
    <!-- <script  src="../javascript/common.js"></script> -->
</head>
<body id="abody">
    <div id="container">
        <div id="header">
            <div class="header-top">
        <img src="../images/bg1.jpg" class="header-img">
        <div class="pict">
            <div class="wenzi">
                <div>江西省超低能耗建筑重点实验室</div>
                <div>Key Laboratory for Ultra-low</div> 
                <div>Energy Buildings of Jiangxi Province</div>
            </div>
        </div>
    </div>
    <div class="header-nav" id="theader">
        <div class="header-nav-item" index='1' id="firstpage">首页</div>
        <div class="header-nav-item" index='2'>实验室简介<div class="dropdown">
                <div title="实验室概况">实验室概况</div>
                <div title="组织结构">组织结构</div>
                <div title="管理委员会">管理委员会</div>
                <div title="学术委员会">学术委员会</div>
            </div>
        </div>
        <!-- <div class="header-nav-item" index='3'>组织机构</div> -->
        <div class="header-nav-item" index='4'>研究领域<div class="dropdown" id="yjly">
                <div title="绿色建筑材料研究">绿色建筑材料研究</div>
                <div title="高性能围护结构研究">高性能围护结构研究</div>
                <div title="新型装配化结构体系研究">新型装配化结构体系研究</div>
                <div title="健康舒适的室内环境营造技术研究">健康舒适的室内环境营造技术研究</div>
                <div title="超低能耗建筑使用后评估研究">超低能耗建筑使用后评估研究</div>
            </div>
        </div>
        <div class="header-nav-item" index='5'>科研队伍</div>
        <div class="header-nav-item" index='6'>科研成果<div class="dropdown">
                <div title="科研项目">科研项目</div>
                <div title="发表论文">发表论文</div>
                <div title="授权专利">授权专利</div>
                <div title="科研成果奖">科研成果奖</div>
            </div> 
        </div>
        <div class="header-nav-item" index='10'>合作交流<div class="dropdown">
                <div title="学术交流">学术交流</div>
                <div title="国际合作" id="gjhz">国际合作</div>
                <div title="校企合作" id="xqhz">校企合作</div>
            </div>
        </div>
        <div class="header-nav-item" index='7'>人才培养<div class="dropdown">
                <div title="博士后">博士后</div>
                <div title="博士研究生">博士研究生</div>
                <div title="硕士研究生">硕士研究生</div> 
            </div>
        </div>
        <div class="header-nav-item" index='12'>仪器平台<div class="dropdown">
                <div title="科研仪器">科研仪器</div>
                <div title="仪器共享">仪器共享</div>
            </div>
        </div>
        <div class="header-nav-item" index='11'>科技动态</div>
        <div class="header-nav-item" index='8'>人才招聘</div>
        <div class="header-nav-item" index='9'>联系我们</div>
    </div>
        </div>
    </div>
    <div id="tbody">
        <div id="tbody-left">
            <div id="listLeftbg">研究领域</div>
            <ul id="uls">
                <li><a href="javascript:void(0)">绿色建筑材料研究</a></li>
                <li><a href="javascript:void(0)">高性能围护结构研究</a></li>
                <li><a href="javascript:void(0)">新型装配化结构体系研究</a></li>
                <li><a href="javascript:void(0)">健康舒适的室内环境营造技术研究</a></li>
                <li><a href="javascript:void(0)">超低能耗建筑使用后评估研究</a></li>
            </ul>
        </div>
        <div id="tbody-right">
            <div id="prelude">
                <div id="prelude-left">研究领域</div>
                <div id="prelude-right">
                    <div id="place">
                        <ol class="breadcrumb" id="breadcrumb">
                            <li class="active">当前位置：</li>
                            <li><a href="#" id="hpage">首页</a></li>
                            <li class="active">研究领域</li>
                            <li class="active" id="active">绿色建筑材料研究</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div id="cont">
                <div id="tit"></div>
                <div id="timti">
                    <div id="time"></div>
                    <div id="shr">
                        <div>审核人：</div>
                        <div id="shrman"></div>
                    </div>
                </div>
                <div id="wenb"></div>
                <div id="syyq">
                    <div id="first"><!-- 实验仪器 -->
                        
                    </div>
                    <div id="frow3">
                        <div id="row3in">
                            <span id="tiaos">共0条</span>&nbsp;&nbsp;&nbsp;
                            <span id="jfzjl">1</span><span>/</span><span id="jfzjr">1</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="shouye">首页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="shangye">上页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="xiaye">下页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="weiye">尾页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="zdao">转到</span></a>&nbsp;
                            <input type="text" id="yeshu">
                            <span>页</span>
                        </div>
                    </div>
                    <div id="second"><!-- 科技动态信息列表 -->
                        
                    </div>
                    <div id="srow3">
                        <div id="row3in2">
                            <span id="tiaos2">共0条</span>&nbsp;&nbsp;&nbsp;
                            <span id="jfzjl2">1</span><span>/</span><span id="jfzjr2">1</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="shouye2">首页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="shangye2">上页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="xiaye2">下页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="weiye2">尾页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="zdao2">转到</span></a>&nbsp;
                            <input type="text" id="yeshu2">
                            <span>页</span>
                        </div>
                    </div>
                    <div id="third"><!-- 学术交流信息列表 -->
                        
                    </div>
                    <div id="trow3">
                        <div id="row3in3">
                            <span id="tiaos3">共0条</span>&nbsp;&nbsp;&nbsp;
                            <span id="jfzjl3">1</span><span>/</span><span id="jfzjr3">1</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="shouye3">首页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="shangye3">上页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="xiaye3">下页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="weiye3">尾页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="zdao3">转到</span></a>&nbsp;
                            <input type="text" id="yeshu3">
                            <span>页</span>
                        </div>
                    </div>
                    <div id="four"><!-- 国际合作信息列表 -->
                        
                    </div>
                    <div id="trow4">
                        <div id="row3in4">
                            <span id="tiaos4">共0条</span>&nbsp;&nbsp;&nbsp;
                            <span id="jfzjl4">1</span><span>/</span><span id="jfzjr4">1</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="shouye4">首页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="shangye4">上页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="xiaye4">下页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="weiye4">尾页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="zdao4">转到</span></a>&nbsp;
                            <input type="text" id="yeshu4">
                            <span>页</span>
                        </div>
                    </div>
                    <div id="five"><!-- 校企合作信息列表 -->
                        
                    </div>
                    <div id="trow5">
                        <div id="row3in5">
                            <span id="tiaos5">共0条</span>&nbsp;&nbsp;&nbsp;
                            <span id="jfzjl5">1</span><span>/</span><span id="jfzjr5">1</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="shouye5">首页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="shangye5">上页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="xiaye5">下页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="weiye5">尾页</span></a>&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)"><span id="zdao5">转到</span></a>&nbsp;
                            <input type="text" id="yeshu5">
                            <span>页</span>
                        </div>
                    </div>
                </div>
                <div id="yqye">
                    <div id="ditu">
                        <img src="../images/1.jpg" id="tup">
                    </div>
                    <p class="topad">
                        <span id="theadmin">仪器管理员：</span>
                        <span id="thename"></span>
                    </p>
                    <p>
                        <span>联系电话：</span>
                        <span id="thephone"></span>
                    </p>
                    <p id="neiro"></p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="firstpb">
        <div id="firstpbLeft">
            <div id="sci">
                <div id="newst">
                    <div id="newstopleft">科技动态</div>
                    <div id="newstopright2" class="more"><a href="#">MORE></a></div>
                </div>
                <div id="newsb">
                    <ul id="newsulst">
                        <li><a href="javascript:void(0)" id="1" title="我学者在氧化物薄膜中直接观测到“斯格明子" class="newsuli">我学者在氧化物薄膜中直接观测到“斯格明子</a><span></span></li>
                        <li><a href="javascript:void(0)" id="2" title="宽刀雕细活 我国造出新式光刻机" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="3" title="未来科学大奖： 用国际化“玩法”做“中国诺奖" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="4" title="我首次制备出超高纯稀土改性氧化铝" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="5" title="压力诱导钙钛矿发光研究取得重要进展" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="6" title="宽刀雕细活 我国造出新式光刻机" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="7" title="宽刀雕细活 我国造出新式光刻机" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="8" title="宽刀雕细活 我国造出新式光刻机" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="9" title="我学者在氧化物薄膜中直接观测到“斯格明子" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="10" title="宽刀雕细活 我国造出新式光刻机" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="11" title="未来科学大奖： 用国际化“玩法”做“中国诺奖" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="12" title="我首次制备出超高纯稀土改性氧化铝" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="13" title="压力诱导钙钛矿发光研究取得重要进展" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="14" title="宽刀雕细活 我国造出新式光刻机" class="newsuli"></a><span></span></li>
                        <li><a href="javascript:void(0)" id="15" title="宽刀雕细活 我国造出新式光刻机" class="newsuli"></a><span></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="firstpbRight">
            <div id="nav-top">
                <div id="nav-top-left">
                    <div id="gzsjj">工作室简介</div>
                    <a href="#"><img src="../images/wz.jpg"></a>
                </div>
                <div id="nav-top-right">
                    <p>“江西省超低能耗建筑重点实验室”于2017年6月由江西省科技厅批准，由南昌大学、江西省建筑科学研究院和中恒建设集团联合组建。</p>
                    <p>实验室立足江西，针对建筑产业发展中节能减排的迫切需求，以建筑节能、建筑环境和装配式建筑技术为研究重点，构建省级重点实验室和创新研究平台，解决建筑围护结构节能系统、新型装配化结构体系及施工技术、建筑垃圾资源化利用、建筑新能源利用技术等关键技术问题，营造超低能耗建筑，提升建筑产业创新能力和建筑人才培养能力，为促进区域经济发展提供技术基础。</p>
                </div>
            </div>
            <div id="nav-bottom">
                <div id="nav-bottom-left">
                    <div id="academic">
                        <div id="academic-left">学术交流</div>
                        <div id="academic-right"><a href="#">MORE></a></div>
                    </div>
                    <div id="academic-content">
                        <ul id="academicul">
                            <li><a href="javascript:void(0)" id="1" title="薛群基：新材料研究进展" class="newsuli">薛群基：新材料研究进展</a></li>
                            <li><a href="javascript:void(0)" id="2" title="袁国亮：几种柔性铁电薄膜及其应用" class="newsuli"></a></li>
                            <li><a href="javascript:void(0)" id="3" title="吴家刚：铌酸钾钠基无铅压电陶瓷材料" class="newsuli"></a></li>
                            <li><a href="javascript:void(0)" id="4" title="王慧田：光场调控─新型光场、新效应和新应用" class="newsuli"></a></li>
                            <li><a href="javascript:void(0)" id="5" title="李晓光：多铁性氧化物超快、低功耗、多阻态信息存储" class="newsuli"></a></li>
                        </ul>
                    </div>
                </div>
                <div id="nav-bottom-right">
                    <div id="tlink">
                        <select id="select1">
                            <option>--校园其他网站链接--</option>
                            <option value="http://www.ncu.edu.cn/"><a href="http://www.ncu.edu.cn/" target="_blank">南昌大学</a></option>
                            <option><a href="#" target="_blank">南昌大学信息工程学院</a></option>
                            <option><a href="#" target="_blank">南昌大学信息工程学院</a></option>
                        </select>
                        <select id="select2">
                            <option>--相关网站链接--</option>
                            <option><a href="#" target="_blank">南昌大学</a></option>
                            <option><a href="#" target="_blank">南昌大学信息工程学院</a></option>
                            <option><a href="#" target="_blank">南昌大学信息工程学院</a></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="newsformat">
        <div id="con-art">
            <div id="con-art-left">文章内容页</div>
            <div id="con-art-right">
                <div id="place">
                    <ol class="breadcrumb" id="breadcrumb">
                        <li class="active">当前位置：</li>
                        <li><a href="#" id="hpage">首页</a></li>
                        <li class="active" id="active">新闻资讯</li>
                        <li class="active" id="active">正文</li>
                    </ol>
                </div>
            </div>
        </div>
        <div id="newsforb">
            <div id="newsf-tit2"></div>
                <div id="timti2">
                    <div id="time2"></div>
                    <div id="shr2">
                        <div>审核人：</div>
                        <div id="shrman2"></div>
                    </div>
                </div>
            <div id="zhengw"></div>
        </div>
    </div>
    <div id="tunder">
        <div class="tunder-div">版权所有 © 江西省超低能耗建筑重点实验室</div>
        <div>地址：江西省南昌市红谷新滩新区学府大道999号 邮编：330031 电话：0791-83964552</div>
    </div>
    <script>
        var items = document.querySelectorAll('.header-nav-item');
        items.forEach(function(item){
            item.addEventListener('click',function(e){
            })
        })
    </script>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="../javascript/tbody.js"></script>
    <script src="../javascript/index.js"></script>
</body>
</html>