<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TEST</title>
	<style>
		#first {
			width: 855px;
			height: 500px;
			margin: 0px auto;
			background-color: skyblue;
		}
		#button {
			width: 50px;
			height: 30px;
		}
	</style>
</head>
<body>
	<div id="first">
		<input type="button" id="button">
	</div>
	<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
	<script>
		var temp = [];
		function reloadtemp(){
			$.post("http://111.231.218.156:8080/Lab/api/School/getAllSchools", {id: 2}, function(result){
	            $("#checkResult").html(result);
	            if (result.status === 1) {
	                for(var i = 0;i < result.data.length;i++){
	                	var thedata = {};
	                	/*thedata.name = result.data[i].name;
	                	thedata.publisher = result.data[i].publisher;
	                	thedata.tel = result.data[i].tel;
	                	thedata.img = result.data[i].img;
	                	thedata.time = result.data[i].time;*/
	                	thedata.id = result.data[i].id;
	                	temp.push(thedata);
	                }
	                for(var i = 0;i < temp.length;i++){
	                	console.log(temp[i].id);
	                }
	            }
	        });
	        /*$.get("http://111.231.218.156:8080/Lab/api/ResearchAreas/getResearchAreas", {id: 5}, function(result){
                $("#checkResult").html(result);
                if (result.status === 1) {
                	console.log(result);
                	console.log(result.data.title);
                	console.log(result.data.time);
                	console.log(result.data.publisher);
                }
            });*/
		}
		reloadtemp();
	</script>
</body>
</html>