<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/common.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/util.js"></script>
    <style>
        td,th{
            text-align: center;
            width: 25%;
        }
        td{
            vertical-align: middle !important;
        }
        .btnGroup>button{
            margin: 0 20px;
        }
        .title :hover{
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="page-header">
            工作条例
            <button type="button" class="btn btn-primary" id="add">添加文章</button>
        </h1>
        <div class="content">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th>文章主题</th>
                        <th>发布人</th>
                        <th>发布时间</th>
                        <th>相关操作</th>
                    </tr>
                </thead>
                <tbody id="list"></tbody>
            </table>
        </div>
        <div class="footer">
            <div id="pagination">
            </div>
        </div>
    </div>
    <script>
        $.ajax({
            type:'POST',
            url:getUrl('/api/Work/getAllWorks'),
            contentType: "application/json", //必须有  
            dataType: "json", //表示返回值类型，不必须 
            beforeSend: function(xhr) {
                    xhr.setRequestHeader("authorization",window.localStorage.getItem('token'));
            },
            success:function(res){
                var list = res.data;
                var pagination = new Pagination('#pagination',list,function(list){
                    document.querySelector('#list').innerHTML = '';
                    list.forEach(function(item){
                        document.querySelector('#list').innerHTML+= createTemplate(item);
                    })
                });
                pagination.setPageSize(9)
                pagination.create()
            }
        })
        function createTemplate(item){
            var html = `
                <tr>
                    <td class="title">${item.title}</td>
                    <td>${item.publisher}</td>
                    <td>${item.time}</td>
                    <td class="btnGroup" data-id="${item.id}">
                        <button type="button" class="btn btn-default editor" >编辑</button>
                        <button type="button" class="btn btn-danger delete" >删除</button>
                    </td>
                </tr>
            `
            return html;
        }
        document.querySelector('.content').addEventListener('click',function(e){
            var target = e.target;
            if(target.classList.contains('editor')){
                handleEditor(e)
            }else if(target.classList.contains("delete")){
                handleDelete(e)
            }
        })   
        document.querySelector('#add').onclick = function(){
            location.href = 'xggztl.html'
        } 
        function handleEditor(e){
            var id = e.target.parentNode.getAttribute('data-id');
            var url = 'xggztl.html?id='+id;
            location.href = url
        }
        function handleDelete(e){
            var id = e.target.parentNode.getAttribute('data-id');
            var data = JSON.stringify({id});
            $.ajax({
                type:'POST',
                url:getUrl('/api/Work/deleteWork'),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("authorization",window.localStorage.getItem("token"));
                },
                data:data,
                contentType: "application/json", //必须有  
                dataType: "json", //表示返回值类型，不必须  
                success:function(res){
                    alert('删除成功');
                    location.reload();
                }
            })
        }
    </script>
</body>
</html>