<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>实验室后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/index.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/util.js"></script>
    <style>
    </style>
</head>

<body>
    <div class="container-fluid">
            <div class="header">
                <h1>江西省超低能耗建筑重点实验室后台管理系统</h1>
            </div>
            <div class="content">
                <nav class="nav left-nav">
                    <div>
                        <ul class="nav nav-pills nav-stacked" id="navList">
                            <li><a src='sysgk.html'>实验室概况</a></li>
                            <li><a src='gztl.html'>工作条例</a></li>
                            <li><a src='zzjg.html'>组织机构</a></li>
                            <li><a src='yjly.html'>研究领域</a></li>
                            <li><a src='kydw.html'>科研队伍</a></li>
                            <li><a src='kycg.html'>科研成果</a></li>
                            <li><a src='jlhz.html'>交流合作</a></li>
                            <li><a src='rcpy.html'>人才培养</a></li>
                            <li><a src='yqpt.html'>仪器平台</a></li>
                            <li><a src='kjdt.html'>科技动态</a></li>
                            <li><a src='yczp.html'>英才招聘</a></li>
                            <li><a src='lxwm.html'>联系我们</a></li>
                        </ul>
                    </div>
                </nav>
                <iframe src="sysgk.html" class="iframe"></iframe>
            </div>
    </div>
</body>

</html>