<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/common.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/jlhz.js"></script>
    <style>
        .header{
            margin-top: 40px;
            font-size: 24px;
        }
        td,th{
            text-align: center;
            width: 25%;
        }
        td{
            vertical-align: middle !important;
        }
        .btnGroup>button{
            margin: 0 20px;
        }
        .title :hover{
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <span>主题:</span>
            <button id="add"　type="button" class="btn btn-primary" >添加文章</button>
            <select class="form-control" id='theme'>
                <option data-index='1'>学术交流</option>
                <option data-index='2'>国际合作</option>
                <option data-index='3'>校企合作</option>
            </select>
        </div>
        <div class="content">
                <table class="table  table-hover">
                    <thead>
                        <tr>
                            <th>文章主题</th>
                            <th>发布人</th>
                            <th>发布时间</th>
                            <th>相关操作</th>
                        </tr>
                    </thead>
                    <tbody id="list"></tbody>
                </table>
        </div>
        <div class="footer">
                <div id="pagination">
                </div>
        </div>
    </div>
</body>
</html>