<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/wangEditor.min.js"></script>
    <style>
        span{
            display: block;
            font-size: 18px;
            margin-top: 10px;
            line-height: 1.4em;
        }
        .w-e-text-container{
            height: 300px !important;
        }
        #submit{
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <span>仪器名称:</span>
        <input type="text" class="form-control" id="instrumentName">
        <span>仪器管理员名称:</span>
        <input type="text" class="form-control" id="administorName">
        <span>联系方式:</span>
        <input type="text" class="form-control" id="telephone">
        <span>图片上传</span>
        <input type="file" class="form-control" id="image">
        <span>发布人</span>
        <input type="text" class="form-control">
        <span>仪器介绍:</span>
        <div id="editor">  </div>
        <button id="submit" type="submit" class="btn btn-default">提交</button>
    </div>
    <script>
        //创造单例模式
        var createSingle = (function(){
            var instance;
            return function(el){
                if(!instance){
                    instance = new Page(el)
                }
                return instance;
            }
        })()
        var Page = function(){}
        Page.prototype = {
            judgeFile(file){
                try{
                    let reg = /^image/;
                    if(!reg.test(file.type)){
                        alert('导入文件类型应该为图片')
                        return false
                    }else if(file.size/1024>1024){
                        alert('导入图片大小不能超过1M')
                        return false;
                    }
                    return true;
                }catch{
                    alert('请添加图片')
                    return false
                }
            },
            callback(image,editor){
                this.uploadFormdata(image,editor)
            },
            uploadFormdata(image,editor){
                let data = {
                    instrumentName:this.getValue('instrumentName'),
                    administorName:this.getValue('administorName'),
                    telephone:this.getValue('telephone'),
                    image:image,
                    txt:editor.txt.html
                }
                data =  JSON.stringify(data);
                console.log(data);
            },
            testFormData(){
                if(!this.getValue('instrumentName')){
                    alert('仪器名称不能为空')
                    return false;
                }else if(!this.getValue('administorName')){
                    alert('管理员姓名不能为空')
                    return false; 
                }else{
                    let reg = /^1([38]\d|5[0-35-9]|7[3678])\d{8}$/
                    if(!reg.test(this.getValue('telephone'))){
                        alert('手机号格式错误')
                        return false
                    }
                }
                return true;
            },
            getValue(id){
                return document.getElementById(id).value;
            }
        }

        window.onload = function(){
            var page = new Page('#editor');
            var editor = new wangEditor('#editor');
            editor.create();
            //每次上传文件去判断图片类型
            document.querySelector('#image').addEventListener('change',function(e){
                let file = e.target.files[0];
                if(!page.judgeFile(file)){
                    return  false;
                }
            })
            
            document.querySelector("#submit").onclick = function(){
                //判断表单格式是否正确
                if(!page.testFormData()){
                    return false;
                }
                var file = document.querySelector('#image').files[0];
                //如果文件类型为图片
                if(page.judgeFile(file)){
                    //读取input中的file文件
                    let reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function(e){
                        let image = e.target.result;
                        page.callback(image,editor)
                    }
                }
            }
        }
    </script>
</body>
</html>