<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/wangEditor.min.js"></script>
    <script src="../js/util.js"></script>
    <style>
        span{
            display: block;
            font-size: 18px;
            margin-top: 10px;
            line-height: 1.4em;
        }
        .w-e-text-container{
            height: 200px !important;
        }
        #submit{
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <span>仪器名称:</span>
        <input type="text" class="form-control" id="name">
        <span>仪器管理员名称:</span>
        <input type="text" class="form-control" id="manager">
        <span>联系方式:</span>
        <input type="text" class="form-control" id="tel">
        <span>图片上传</span>
        <input type="file" class="form-control" id="img">
        <span>发布人</span>
        <input type="text" class="form-control" id="publisher">
        <span>仪器介绍:</span>
        <div id="editor">  </div>
        <button id="submit" type="submit" class="btn btn-default">提交</button>
    </div>
    <script>
        //创造单例模式
        var createSingle = (function(){
            var instance;
            return function(){
                if(!instance){
                    instance = new Page()
                }
                return instance;
            }
        })()
        var Page = function(){
            this.data = {};
        }
        Page.prototype = {
            judgeFile(file){
                try{
                    let reg = /^image/;
                    if(!reg.test(file.type)){
                        alert('导入文件类型应该为图片')
                        return false
                    }else if(file.size/1024>200){
                        alert('导入图片大小不能超过200kb')
                        return false;
                    }
                    return true;
                }catch{
                    alert('请添加图片')
                    return false
                }
            },
            callback(image,editor){
                this.uploadFormdata(image,editor)
            },
            uploadFormdata(image,editor){
                var id = location.href.split("=")[1];
                let data = {
                    id:id,
                    publisher:this.getValue('publisher'),
                    name:this.getValue('name'),
                    manager:this.getValue('manager'),
                    tel:this.getValue('tel'),
                    introduction:editor.txt.html()
                }
                if(image){
                    data.img = image
                }else{
                    data.img = this.data.img
                }
                data =  JSON.stringify(data);
                var url;
                if(id){
                    url = getUrl('/api/Instrument/updateInstrument');
                }else{
                    url = getUrl('/api/Instrument/addInstrument');
                }
                console.log(data);
                $.ajax({
                    type:'POST',
                    data:data,
                    url:url,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("authorization",window.localStorage.getItem('token'));
                    },
                    contentType: "application/json", //必须有  
                    dataType: "json", //表示返回值类型，不必须  
                    success:function(res){
                        alert('提交成功');
                        location.href = './yqpt.html'
                    }
                })
            },
            testFormData(){
                if(!this.getValue('name')){
                    alert('仪器名称不能为空')
                    return false;
                }else if(!this.getValue('manager')){
                    alert('管理员姓名不能为空')
                    return false; 
                }else{
                    let reg = /^1[34578]\d{9}$/
                    if(!reg.test(this.getValue('tel'))){
                        alert('手机号格式错误')
                        return false
                    }
                }
                return true;
            },
            getValue(id){
                return document.getElementById(id).value;
            }
        }

        window.onload = function(){
            var page = new Page('#editor');
            var editor = new wangEditor('#editor');
            editor.create();
            //初始化时获取信息
            page.id = location.href.split("=")[1]
            //如果id存在，通过id去获取图片信息
            if(page.id){
                $.get(getUrl('/api/Instrument/getInstrumentById'),{id:page.id},function(res){
                    console.log(res)
                    console.log(res.data.introduction)
                    page.data = res.data;
                    document.querySelector('#name').value = res.data.name;
                    document.querySelector('#publisher').value = res.data.publisher;
                    document.querySelector('#manager').value = res.data.manager;
                    document.querySelector('#tel').value = res.data.tel;
                    editor.txt.html(res.data.introduction);
                })
            }
            //每次上传文件去判断图片类型
            document.querySelector('#img').addEventListener('change',function(e){
                let file = e.target.files[0];
                if(!page.judgeFile(file)){
                    return false;
                }
            })
            
            document.querySelector("#submit").onclick = function(){
                //判断表单格式是否正确
                if(!page.testFormData()){
                    return false;
                }
                var file = document.querySelector('#img').files[0];
                //如果文件类型为图片,或者处于修改信息状态
                if(page.data.img||page.judgeFile(file)){
                    //读取input中的file文件
                    if(file){
                        let reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onload = function(e){
                            let image = e.target.result;
                            page.callback(image,editor)
                        }
                    }else{
                        page.callback('',editor)
                    }

                }
            }
        }
    </script>
</body>
</html>