<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <style>
        .footer{
            position: fixed;
            bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="header">仪器平台</h1>
        <div class="content">

        </div>
        <div class="footer">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="1">1</a></li>
                <li><a href="2">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</body>
</html>