<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/common.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/util.js"></script>
    <style>

        .box{
            margin-bottom: 20px;
            width: 25%;
            text-align: center;
        }
        .instrument{
            width: 220px;
            font-size: 20px;
            margin: 5px auto;
        }
        .box img{
            width: 220px;
            height: 165px;
        }
        .btnGroup{
            width: 220px;
            display: flex;
            justify-content: space-between; 
            margin: 0 auto;
            margin-top: 5px;
        }
        #list{
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="page-header">
            仪器平台
            <button type="button" class="btn btn-primary" id="add">添加仪器</button>
        </h1>
        <div id="list">
        </div>
        <div class="footer">
            <div id="pagination">
            </div>
        </div>
    </div>
    <script>

        $.ajax({
            type:'POST',
            url:getUrl('/api/Instrument/getAllInstrument'),
            contentType: "application/json", //必须有  
            dataType: "json", //表示返回值类型，不必须  
            success:function(res){
                var list = res.data;
                var pagination = new Pagination('#pagination',list,function(list){
                    document.querySelector('#list').innerHTML = '';
                    list.forEach(function(item){
                        document.querySelector('#list').innerHTML+= createTemplate(item);
                    })
                });
                pagination.setPageSize(9)
                pagination.create()
            }
        })

        function createTemplate(item){
            let html = `<div class="box">
                <div class="instrument">${item.name}</div>
                <img src="${item.img}">
                <div class="btnGroup" data-id="${item.id}">
                    <button type="button" class="btn btn-default editor" >编辑</button>
                    <button type="button" class="btn btn-danger delete" >删除</button>
                </div>
            </div>
            `
            return html;
        }

        document.querySelector('#list').addEventListener('click',function(e){
            var target = e.target;
            if(target.classList.contains('editor')){
                handleEditor(e)
            }else if(target.classList.contains("delete")){
                handleDelete(e)
            }
        })
        document.querySelector('#add').onclick = function(){
            location.href = 'xgyqpt.html'
        }


        function handleEditor(e){
            var dom = e.target.parentNode;
            var id = dom.getAttribute("data-id");
            location.href = 'xgyqpt.html?id='+id;
        }

        function handleDelete(e){
            var dom = e.target.parentNode;
            var id = dom.getAttribute("data-id");
            var url = getUrl('/api/Instrument/deleteInstrument');
            var data = JSON.stringify({id});
            $.ajax({
                type:'POST',
                url:url,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("authorization",window.localStorage.getItem("token"));
                },
                data:data,
                contentType: "application/json", //必须有  
                dataType: "json", //表示返回值类型，不必须  
                success:function(res){
                    alert('删除成功');
                    location.reload();
                }
            })
        }

    </script>
</body>
</html>