#abody {
	position: relative;
}
.header-nav .header-nav-item {
	width: 109px;
}
.pict {
	width: 1200px;
	height: 150px;
	position: absolute;
	margin-top: -150px;
}
.picture1 {
	height: 150px;
	float: left;
}
.wenzi {
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}
.wenzi div {
	font-size: 18px;
	font-weight: 700;
	height: 25px;
	color: #fff;
	font-family: '宋体';
}